<!-- load google maps  asynchronously-->
<script type="text/javascript">
	var directionsDisplay;
	var directionsService;

	var directionsDisplayReception;
	var geocoder;
	var map;
	var mapReception;
	var chapel;
	var wp;
	function initialize() {
		directionsService = new google.maps.DirectionsService()
		directionsDisplay = new google.maps.DirectionsRenderer();
		directionsDisplayReception = new google.maps.DirectionsRenderer();
		geocoder = new google.maps.Geocoder();
		
		//ceremony directions
		var atlantaAirport = new google.maps.LatLng(33.641527,-84.445553);
	    chapel = new google.maps.LatLng(33.470739,-81.997696);
	    wp = [ //{location: new google.maps.LatLng(33.521728,-82.027134), stopover:false}, //exit 200
						 //{location: new google.maps.LatLng(33.481165,-81.982276), stopover:false}, //15th street
						 {location: new google.maps.LatLng(33.47048,-81.992539),  stopover:false}, //laney walker
						 {location: new google.maps.LatLng(33.47048,-81.992539),  stopover:false} 
					    ];
		var request =
		{
			origin:atlantaAirport,
			destination:chapel,
			travelMode:google.maps.TravelMode.DRIVING,
			waypoints: wp,
			optimizeWaypoints: false		    
		};
        var mapOptions = {
          center: atlantaAirport,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        //append map to element
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("directionsPanel"));
        directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
			      directionsDisplay.setDirections(result);
			}
			else
			{
				$("directionsPanel").html("<p>Unable to retrieve directions</p>");
			}
	     });

	    //reception directions
	    var reception = new google.maps.LatLng(33.489356,-81.972954);
	    ;
	    mapOptions = {
	    	center:reception,
	    	zoom:8,
	    	mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    request =
		{
			origin:chapel,
			destination:reception,
			travelMode:google.maps.TravelMode.DRIVING
		};
	    mapReception = new google.maps.Map(document.getElementById("map-canvas-reception"), mapOptions);
        directionsDisplayReception.setMap(mapReception);
        directionsDisplayReception.setPanel(document.getElementById("directionsPanel-reception"));
        directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
			      directionsDisplayReception.setDirections(result);
			}
			else
			{
				$("directionsPanel-reception").html("<p>Unable to retrieve directions</p>");
				alert("unable to set directions to reception." );
			}
	     });
	}
function loadScript() {
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCFeQ4fy8Mqwcpp7BRsTjCU6trwurubXrM&sensor=true&callback=initialize";
  document.body.appendChild(script);
   
}

function calculateRoute(address) {
	var origin;

	geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
          origin =  results[0].geometry.location;
         
          var request = {
			origin:origin,
			destination:chapel,
			travelMode:google.maps.TravelMode.DRIVING,
			waypoints: wp,
			optimizeWaypoints: false,
			provideRouteAlternatives: true		    
			};

 			directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		    	 map.setCenter(origin);
			     directionsDisplay.setDirections(result);
			}
			else
			{
				$("#directionsPanel").html("<p>Unable to retrieve directions</p>");
			}
	     });

    	
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });

	
}
//add to the window onload event
 window.onload = loadScript;
</script>

<div id="directions" class="">
	<div class="inner">

<h1>Directions</h1>
  <h4>Ceremony at Gilbert Lambuth Memorial Chapel</h4>
  <hr/>
  <p style="">Start location:
  <input type ="text" id ="startLocation" name="startLocation" placeholder="Atlanta Airport" style="width:60%"/>
  <input type="button" name="submit"  class="btn btn-large btn-primary"  style="margin-left:15px;padding:10px;" onclick="calculateRoute(startLocation.value)" value ="Submit"/></p>

    <div style="  margin-top:10px;">
	 <div id="" style="background-color:white;padding:10px;height:350px;">
	 	<div id="directionsPanel" style="position:relative;width:45%;height:100% !important ;float:left;overflow:scroll"></div>
	 <div class ="googleMaps">
	 	<div id="map-canvas" name="map-canvas" style=""></div> 
	</div></div>
</div>
 
<div class="clearfix" style="">
	<h3>Reception at Palmeto Terrace</h3>
  <hr/>
</div>
    <div class="" style="background-color:white;height:350px;padding:10px;margin-top:0px;">
	 <div id="directionsPanel-reception" style="position:Relative;background-color:white;float:left;width:40%;padding:2px;height:100%;overflow-y:scroll"></div>
	 <div class ="googleMaps">
	 	<div id="map-canvas-reception" name="map-canvas-reception"></div> 
	 </div>
	</div>


</div>
</div>