
  <script type="text/javascript">
  
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>

<h1>Photo Albums</h1>
<div class="flexslider" style="height:720px !important;">
  <ul class="slides" style="">

    <li>
	    <%=image_tag "photoalbum/engage1.jpg"  %>
		</li>
		<li>
	    <%=image_tag "photoalbum/engage2.jpg"   %>
		</li>
		  <li>
      <%=image_tag "photoalbum/2009-venezuela540x720.jpg", size:"540x720",style:"width:540px;height:720px;"   %>
    </li>
    <li>
      <%=image_tag "photoalbum/engage2.jpg"   %>
    </li>
  </ul>
</div>
