<% provide(:title, 'Contact Us') %>
<div id="contact" class="">
	<div class="inner">
		<h1>Contact Us</h1>
		<p class="lead">Groom: <a href="mailto:ltaylor0430@gmail.com">Lawrence Taylor </a></p>
		<p class="lead">Bride: <a href="mailto:jamiebharrison@yahoo.com"> Jamie Harrison</a>
		</p>
	</div>
</div>