
<div id="stories" class="groups hide">
	<div class="inner">
	<h1>Our Stories</h1>
	<p>Jamie and I met on the <a href="http://www.georgiasouthern.edu">Georgia Southern University</a> campus.  We started off our relationship as friends in the early 2000's.  Back then we were into completely different things.  It wasn't until later towards the end of my college career where our friendship started to blossom.  We started to spend time travelling and doing some fun things.  The first place we went together was Caracas, Venezuela.  We had an awesome time their together and I started to see Jamie in a different way.  Maybe it was time too cross the (friendship)line?  Thats exactly what I did and she said <strong>No!</strong> I knew Jamie was the one though and It was just a matter of time until she realize it too! Fast foreward a couple of years, I received an email from Jamie.  She express her feelings to me and I called her after reading it.  She was at a lost for words.  This ususally happens to me. This time she asked me out and I said <strong>Yes!</strong>  We began to date and the love that we have together brought us to this very day.  We are looking forward to the days to come.
	</p>
	</div>
</div>

<div id="album" class="groups hide">
	<div class="inner">
  <%=render 'photos' %>
	</div>
</div>
<div id="registry" class="groups hide">
		<div class="inner">
<h1>Wedding Registry</h1>
<p>
	Macy's
	Williams & Sonama
</p>
</div>
</div>

<div id="directions" class="clearfix groups hide">
	<div class="inner">
  <%=render 'directions'%>
</div>
</div>

<div id="contact" class="groups hide">
	<div class="inner">
<h1>Contact Us</h1>
<p> Groom: <a href="mailto:ltaylor0430@gmail.com">Lawrence Taylor </a>
Bride: <a href="mailto:jamiebharrison@yahoo.com"> Jamie Harrison</a>
</p>
</div>
</div>

 
