<div class="groups">
<h1>Our Stories</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar augue porta nulla hendrerit convallis. Pellentesque sapien nisi, bibendum vitae accumsan at, ornare a ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sodales feugiat metus sit amet pretium. In pretium, metus non placerat pellentesque, eros sem gravida tellus, nec scelerisque libero eros et mi. Duis fringilla rhoncus fringilla. Proin blandit neque gravida neque congue mollis eget egestas orci. Nullam eleifend magna sit amet neque porttitor nec ullamcorper est pellentesque. Nulla facilisi. Nam ut placerat odio. Nulla pulvinar, augue vitae scelerisque iaculis, tellus quam ullamcorper magna, et lobortis orci nisl in dolor. Nullam non nibh eu eros facilisis eleifend. Sed sed elit eget nisl sollicitudin aliquet. Ut et ipsum et dolor iaculis auctor rutrum suscipit enim. Nunc viverra adipiscing posuere.</p>
</div>

<div id="albumn" class="groups">
  <%=render 'photos' %>
</div>

<div id="registry" class="groups">
<h1>Wedding Registry</h1>
<p>
Suspendisse luctus sem eu sem volutpat eget placerat tortor sagittis. Pellentesque sed hendrerit purus. Suspendisse mollis nunc in lacus ultricies non elementum lacus faucibus. Vestibulum tempor porttitor diam id tempor. Suspendisse pharetra metus vestibulum justo pharetra dapibus. Phasellus rhoncus nulla ac enim convallis vehicula. Maecenas blandit sagittis porta. Nunc justo lorem, tempor eget pretium non, feugiat ut erat. Mauris luctus mauris ac orci vulputate ac molestie sapien accumsan.</p>
</div>

<div id="directions" class="clearfix groups">
  <%=render 'directions'%>
</div>


<div class="groups">
<h1>Contact Us</h1>
<p><Groom: <a href="mailto:ltaylor0430@gmail.com">Lawrence Taylor</a>

</p>
</div>
 
