<% provide(:title, 'Hotels') %>

<div id="hotels" class="" style="">

	<div class="inner">	
	<div>
		<h1>Marriott</h1>
			<div>
				Augusta Marriott at the Convention Center<br/>
				Two 10th Street<br/>
				Augusta, GA 30901<br/>
				Hotel phone: 706-722-8900<br/>
				Sales fax: 706-724-0044<br/>
				Hotel website: <a href="www.marriott.com/agsmc">www.marriott.com/agsmc</a>
			<p><b>Group Name: Harrison-Taylor Wedding</b></p>
			</div>
		 	<p class="lead">Availability</p>
		  	<table class="table table-striped">
			<thead>
				<th>Room Type</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</thead>
			<tbody>
				<tr>
					<td>Suite Tower Rate: $123.00</td>
					<td>2+ Rooms</td>
					<td>10+ Rooms</td>
					<td>10+ Rooms</td>
				</tr>
			</tbody>
			</table>
			</td>
		</tbody>
		</table>
	</div>
	<hr/>
	<div>	
		<h1>Doubletree By Hilton</h1>
		<div>
				DoubleTree By Hilton<br/>
				2651 Perimeter Parkway<br/>
				Augusta, GA 30909<br/>
				Hotel phone:(706) 855-8100<br/>
				Sales fax: (706) 860-7434<br/>
				Hotel website: <a href="www.augusta.doubletree.com">www.augusta.doubletree.com</a> 
			<p><b>Group Code: HTW</b></p>
		</div>
		 	<p class="lead">Availability</p>
		  	<table class="table table-striped">
			<thead>
				<th>Room Type</th>
				<th>Friday</th>
				<th>Saturday</th>
			</thead>
			<tbody>
				<tr>
					<td>Deluxe King or 2 Queen Beds
					
					</td>
					<td>8+ Rooms</td>
					<td>10+ Rooms</td>
				</tr>
				<tr>
					<td>Executive Suite - non-smoking
					</td>
					<td>2</td>
					<td>2</td>
			</tbody>
			</table>
			</td>
		</tbody>
		</table>
	
	</div>
	<hr/>
	<div class="hide">
		<h1>Hilton Garden Inn</h1>
		<div>
				Hilton Garden Inn<br/>
				1065 Stevens Creek Road<br/>
				Augusta, GA 30907<br/>
				Hotel phone: 706-739-9990<br/>
				Sales fax: 706-739-9997<br/>
				Hotel website: <a href="http://hiltongardeninn3.hilton.com/en/hotels/georgia/hilton-garden-inn-augusta-AGSAGGI/index.html">Hilton Garden Inn Augusta</a>
				<p>Group Name: <b>Harrison-Taylor Wedding</b></p>
		</div>
			
		 	<p class="lead">Availability</p>
		  	<table class="table table-striped">
			<thead>
				<th>Room Type</th>
				<th>Friday</th>
				<th>Saturday</th>
			</thead>
			<tbody>
				<tr>
					<td>Suite Tower Rate: $104.00</td>
					<td>10+ Rooms</td>
					<td>10+ Rooms</td>
				</tr>
			</tbody>
			</table>
			</td>
		</tbody>
		</table>
	</div>
</div>
