<% provide(:title, 'Our Wedding Registry') %>
<div id="registry" class="">
		<div class="inner">
<h1>Wedding Registry</h1>
<p class="lead">
	Thank you in advance! Please click the link below.
    <div>
    	<%= link_to "Wedding Registry", 'http://www.myregistry.com/public/harrisontaylor'  , class:"link"%>
    </div>
	
</p>
</div>