@import "bootstrap";

/* universal */

$teal: rgba(204,255,204,1);
html {
  overflow-y: scroll;
   
}

body {
   padding-top: 40px;
  background:url('bg02.jpg') repeat-x;
 font-family: 'BentonSans', sans-serif;
  height:100%;
 margin:0;
   background-position:0px 0px;
 
  
}
@import "bootstrap-responsive";
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*typography */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
}
h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
    line-height: 70px;
}
 
p {
   font-family: 'BentonSans', sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

li {
     font-family: 'Lobster', Georgia, Times, serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#contentBg {
   margin-left:0px;
  margin-right:0px;
  min-height:800px;
  width:1050px;
  padding-top:0px;
 
  background:url('jamieLawrence_windowshot-04.jpg') left center no-repeat;
  background-position:-300px -40px;
}
.content {
  background-color:rgba(white,.2);
  margin-top:0px;
  background-repeat:repeat-x;
  box-sizing:border-box;
   margin-left:500px;
  border-radius:10px;
  padding:0px;
  z-index:500;
  margin-bottom:0px;
  margin-right:10px;
  min-width:700px;
  
}
.inner {
   padding:15px;
   background-color:rgba(#eaeaea,.7); 
     
}
.content-left {
  
 background-image:url('left_content.png');
}
.content-right {
background-repeat:none;

float:left;
 background-image:url('right_content.png');
}
 
.groups {
  margin:10px; 
border:rgba(white,0.5) 2px solid;
padding:5px;

 
}
.groups .hide {
  
  }
#logo:hover {
  color: #000;
  text-decoration: none;
}
/* footer */

footer {
  position:fixed;
        float:left;
       width:150px;
       margin-top:0px;
   margin-left:0px;
 box-shadow: 0px 1px 2px #EEEEEE;
   color: #aaccf2;
   margin-right:10px;padding-top:0;
   background-color:rgba(#EAEAEA,1);
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
#map-canvas { height: 350px !important;float:right;width: 59%;}
#map-canvas-reception { height: 350px !important;float:right;width: 59%; }