@import "bootstrap";
/* universal */

$teal: rgba(204,255,204,1);
html {
  overflow-y: scroll;
  height:100%
}

body {
 
  background:url('bg02.jpg') repeat-x fixed;
 
  height:100%;
  padding-top:15px;
   background-position:0 -0x;
 
  max-height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*typography */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
}
h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
    line-height: 70px;
}
 
p {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

li {
     font-family: 'Lobster', Georgia, Times, serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#contentBg {
   margin-left:50px;
  min-width:1050px;
  padding-top:0px;
  height:850px;
  position:fixed;
  background:url('jamieLawrence_windowshot-04.jpg') no-repeat left top fixed;
 
}
.content {
  background-color:rgba(white,.2);
  margin-top:0px;
  background-repeat:repeat-x;
  box-sizing:border-box;
  border-radius:10px;
  padding:2px;
  position:relative;
  margin-bottom:200px;
  margin-right:10px;

}
.inner {
   padding:15px;
   background-color:rgba(#eaeaea,.7); 
}
.content-left {
  
 background-image:url('left_content.png');
}
.content-right {
background-repeat:none;

float:left;
 background-image:url('right_content.png');
}
.topHeader {
  /*background-image:url('header.png');*/
  background-repeat:repeat-x;

/*   background: url(Majorca-Golf.jpg) no-repeat center center fixed;*/
}
.groups {
  margin:10px; 
border:rgba(white,0.5) 2px solid;
padding:5px;

 
}
.groups .hide {
  
  }
#logo:hover {
  color: #000;
  text-decoration: none;
}
/* footer */

footer {
  
       line-height: 10px !important;
 position:fixed;bottom:0px;width:100%;margin-right:40px; 
 margin-top:150px;
  color: #aaccf2;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
#map-canvas { height: 350px !important;float:right;width: 59%;}
#map-canvas-reception { height: 350px !important;float:right;width: 59%; }