@import "bootstrap";

/* universal */

$teal: rgba(204,255,204,1);
html {
  overflow-y: scroll;
  margin:0;
}

body {
   padding-top: 40px;
   padding-left:0;
   background:url('bg02.jpg') repeat-x ; 
   font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
  height:100%;
   margin:0;
   background-position:0px 0px;

 
  

}


@media (max-width: 798px) {

  // Padding to set content in a bit
  body {
    padding-left: 0px !important;
    padding-right:0px !important;
    background:url('bg02.jpg') repeat-x !important;
   
  }
 #contentBg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.content {
  float:left !important; 
  margin:0px !important;
  width:auto !important;
  min-width:300px !important;
}
#map-canvas{width:100%}
#directionsPanel {
  float:left;
  width:100% !important;

}
#directionsPanel-reception {
  float:left;
  width:100% !important;

}
}
/* Remove top padding when top navbar goes static in narrow viewports */
 
.navbar .btn-navbar {
   padding:7px 10px;
  }
@media (min-width: 980px) and (max-width: 1126px) {
    .nav-collapse .collapse{
        height:0 !important;
       overflow:hidden !important;
    }
  
}
 .navbar .container {
  width: auto;
}

header {
padding:0; 
line-height:0;
 
}
@import "bootstrap-responsive";


.topHeader
{
  height:auto;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*typography */
h1,h2,h3,h4,h5,h6 {
	line-height:1;
}
h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
    line-height: 70px;
}
 
p {
   font-family: 'BentonSans', sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

li {
     font-family: Georgia, Times, serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-bottom:0;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  width:320px;
  font-weight: bold;
  line-height: 1;
}
.navbar {
  margin:0;

}
#containerDiv {
   background:url('bg02.jpg') repeat-x;
}
#contentBg {
  margin:0;
  min-height:800px;
  /*width:100%;*/
/*  height:100%;*/
  padding:0;
  background:url('jamieLawrence_windowshot-04.jpg') no-repeat;
  background-position:-300px -40px;
}
.welcome {
  letter-spacing: -1px;
  padding-top: 9px;
  background-color:transparent;
  margin-top:0px;
  color:white;
}
.content {
  /*background-color:rgba(white,.2);*/
 
  box-sizing:border-box;
  float:right;

  margin-right:50px;
  border-radius:2px;
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
  width:700px;
  
}
.inner {
   padding:15px;
   background-color:rgba(#fff,1); 
     
}
.content-left {
  
 background-image:url('left_content.png');
}
.content-right {
  background-repeat:none;
  background-image:url('right_content.png');
  float:left;
  
}
 
.groups {
margin:5px; 
padding:5px;
 
}
.groups .hide {
  
  }
#logo:hover {
  color: #000;
  text-decoration: none;
}
/* footer */

footer {
 
  float:left;      
  width:150px;
  margin-top:0px;
  margin-left:0px;
  box-shadow: 0px 1px 2px #EEEEEE;
  color: #aaccf2;
  margin-right:10px;
  padding-top:0;
  background-color:rgba(#EAEAEA,1);
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
#map-canvas { height: 350px !important;float:right;width: 350px;}
#map-canvas-reception { height: 350px !important;float:right;width: 350px; }